h2{
	font-size: 3em;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.75em;
}
h5{
	font-size: 1.3em;
}
p{
	font-size: 1.2em;
	font-family: "Consolas",'Courier New', Courier, monospace;
}
.cv {
	font-family: "Consolas",'Courier New', Courier, monospace;
	font-size: 1.15em;
    padding-left: 3em;
    text-indent: -1em;
}

.cv:first-line{
    /* text-indent: 0em; */
}
.cv:before{
	content: "- ";
}
ul{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}