@import url('https://fonts.googleapis.com/css?family=Cousine|Cutive+Mono|Fira+Mono|IBM+Plex+Mono|Space+Mono|Zilla+Slab&display=swap');

html{
	background-color: rgb(51,51,51);
	font-family: "Consolas",'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	color: white;
}
header{
	background-color: rgb(51,51,51);
	padding-top: 0%;
}

h1 a{
	
	font-family: "Zilla Slab",serif;
	text-decoration: none;
	font-size: 40px;
	color: white;
	word-spacing: -0.1em;
	letter-spacing: 0px;
	
}
h1{
	margin-bottom: .1%;
	margin-top: .1%;

}
h1,h2,h3,h4,h5{
    text-decoration: none;	
	font-family: "Consolas",'Courier New', Courier, monospace;
	text-align: left;  
	font-weight:normal;
	margin: 0.5% 0% 0% 0%;
   
}

#content{	
	flex: 1 1 auto;	
	padding-bottom: 5%;
	
}

#container{
	padding: 0%;
	margin: 0;
	background-color: rgb(30,30,30);
	
}
h2{
	font-size: 3em;
	text-align: center;
}
h3{
	font-size: 2em;
	color: rgb(103, 205, 254);
	text-align: center;
}
h4{
	color: rgb(206,145,120);
	font-size: 1.75em;
}
h5{
	font-size: 1.3em;
}
p{
	font-size: 1.2em;
	font-family: "Consolas",'Courier New', Courier, monospace;
}
a{
	color: white;
	text-decoration: none;
}
.comment:before{
	color: green;
	font-family: 'IBM Plex Mono', serif;
	/* content: "//____________________________________________________________________________________________________"; */
}
@media only screen and (max-width:600px){
	#content{margin-left: 0}
	.comment:before{content: "//____"}
}
@media only screen and (min-width: 600px) {
	#content{width:90%}	
	#content{margin-left:5%}
	#content{margin-right: 5%}
	.comment:before{content: "//_____________________________________________"}

	/* h1 a{color:red} */
}
@media only screen and (min-width: 992px) {
	#content{width:86%}	
	#content{margin-left:7%}
	#content{margin-right: 7%}
	/* h1 a{color: blue} */
	.comment:before{content: "//________________________________________________________________________"}
}