html{
	background-color: rgb(51,51,51);
	font-family: "Consolas", monospace;
	margin: 0;
	padding: 0;
	color: white;
	overflow-x: hidden;
}
body{
	margin:0%;
	margin-top: -.75%;
	overflow-x:hidden;
}
header{
	background-color: rgb(51,51,51);
	padding-top: 0%;
}

h1 a{
	font-family: "IBM Plex Mono",serif;
	text-decoration: none;
	font-size: 1.1em;
	color: white;
	word-spacing: -0.5em;
	letter-spacing: 0px;	
}
h1{
	margin-bottom: .1%;
	margin-top: .1%;
}
h1,h2,h3,h4,h5,h6{
    text-decoration: none;	
	font-family: "IBM Plex Mono", monospace;
	text-align: left;  
	font-weight:normal;
	margin: 0.5% 0% 0% 0%;   
}

#window{	
	flex: 1 1 auto;	
	width:inherit;
	position: fixed;
	overflow-y: auto;
	overflow-x:hidden;
	overflow-wrap: break-word;
	height: 90%;
	background-color: rgb(30,30,30)

	
}
#content{
	position: initial;
	margin: 0;
	padding-right: 3%;
	overflow-x:hidden;
}

#container{
	padding: 0%;
	padding-right: 0%;
	margin: 0;
	background-color: rgb(30,30,30);
	width:98%;
	margin-bottom: 5%;
	margin-left: 1%;
	margin-right: 1%;
	overflow-x:hidden;
	
}
h2{
	font-size: 3em;
	text-align: center;
}
h3{
	font-size: 2em;
	color: rgb(103, 205, 254);
	text-align: center;
}
h4{
	color: rgb(206,145,120);
	font-size: 1.75em;
}
h5{
	font-size: 1.3em;
}
h6{
	font-size: 1.25em;
	display: block;

}
p{
	font-size: 1.2em;
	font-family: "Consolas", monospace;
}

a{
	color: white;
	text-decoration: none;
}
.comment:before{
	font-size: 25px;
	content: "//";
}
.comment{
	padding-left: 0;
	color: green;
	word-wrap: normal;
	font-family: 'IBM Plex Mono', serif;
	overflow:hidden;
}
.comment::after{
	content:"___________________________________________________________________________________________________________________________________________________________________________________________________________________________"
}

@media only screen and (max-width:600px){
	#content{margin-left: 0}
	.comment{
		font-size: 20px;
	}
	h1 a{
		font-size: 0.9em;
	}

	.download{
		width:100%;
	}
}
@media only screen and (min-width: 600px) {
	 #content{
		width:98%;
		margin-left:1%;
		margin-right:1%
	}
	.comment{
		font-size: 23px;
	}

}
@media only screen and (min-width: 992px) {
	#content{
		width:94%;
		margin-left:3%;
		margin-right: 3%;
	} 



}
@media only screen and (min-width: 1200px) {
	#content{
		width:90%;
		margin-left:5%;
		margin-right:5%
	}

}