

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="{{ site.baseurl }}\css\main.css" rel="stylesheet">

    <title>{{pages.title}}</title>
</head>

<body>
        <div id="container">
    <header>
        <div id="logo">
            <h1><a href="#">{{site.title}}\{%if page.permalink%} {{page.title}} \{%endif%}</a></h1>
        </div>
        <nav>
            <ul>
                {% for item in site.data.navigation %}
                <li {% if page.url == item.link %} id="navCurrent" {%endif%}><a href="{{item.link| prepend:site.baseurl }}">{{item.name}}</a></li>
                {%endfor%}
            </ul>
        </nav>
    </header>
    <div id="content">
    {{content}}
    </div>
        </div>
</body>

</html>